ENVIRONMENT=dev
DATABASE_URL=postgresql://user:password@ep-example-123456.us-east-2.aws.neon.tech/dbname?sslmode=require
LOG_LEVEL=DEBUG
WEBSERVER_PORT=3000
WEBSERVER_HOST=127.0.0.1
PRIVATE_KEY_PEM="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"